.App {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}
.add-save-button {
    margin: 1rem;
}

h1 {
    width: 100%;
}

/* ---- card ---- */
.card-list {
    display: flex;
}
.list,
.card {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 10rem;
}
.list {
    height: 1.4rem;
    width: 8rem;
}
.card-init-toggle {
    height: 5rem;
}
.add-init-button {
    width: 5.2rem;
    margin-top: auto;
    padding: 0;
}
.add-card-button {
    margin-top: 0.5rem;
    width: 5.2rem;
}
.add-save-close-buttons {
    margin-top: auto;
    margin-right: auto;
}
.add-save-close-buttons * {
    margin: 0 0.2rem;
}
.card-title {
    margin: 0.3rem 0 0.7rem 0;
}
.card-input {
    margin: 0.3rem 0 0.8rem 0;
}
.single-card {
    border: 1px solid black;
    padding: 0.2rem 0.3rem;
    margin: 0.2rem 0;
}
.hide {
    display: none;
}
